/*---------------------------------------/
    Custom Styles for catalog container, 
    house container. Displayed in grid.
/--------------------------------------*/
.catalog-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.house-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-self: center;
    row-gap: 20px;
    column-gap: 40px;
}
